version: "3"

services:
  postgres:
    image: postgres
    expose:
      - 5432
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=sensors
      - POSTGRES_DB=sensors
      - POSTGRES_HOST_AUTH_METHOD=trust
